.Discriptif{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.tableau{
    height: 400px;
    width: 750px;
    border: 1px solid black;
    display: flex;
    
    
}

.divLeftTaleau{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divImageTableau{
    height: 350px;
    width: 350px;
    border: 1px solid black;
}

.test{
    height: 100%;
    width: 100%;
}

.divRightTableau{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.divTitle{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 15%;
}
.titleDiscriptif{
    font-size: 30px;
    font-weight: 700;
}

@media (max-width: 1023px){
    .tableau{
        width: 550px;
        height: 360px;
    }
    .divImageTableau{
        height: 250px;
        width: 250px;
    }
    .divRightTableau{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 768px){
    .tableau{
        width: 350px;
        height: 750px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .divLeftTableau{
        display: none;
    }

    .test{
        width: 250px;
    }

    .divImageTableau{
        height: 300px;
        width: 500px;

    }
    .divRightTableau{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .titleDiscriptif{
        font-size: 18px;
        font-weight: 700;
    }
}