.btnPanier{
    height: 40px;
    width: 150px;
    background: linear-gradient(145deg,#23d5ab, #23a6d5, #82245f, #ee7752 ); 
    background-size: 400% 400%;
    animation: gradient2 4s ease infinite;
    border-radius: 15px;
    color: white;

}

.btnPanier:active{
    box-shadow: inset 1px 2px 5px #777;
    transform: translateY(1px);
    box-shadow: 0px 0px 10px white, inset 0px 0px 10px white;
    background: #000239;
}

@keyframes gradient3 {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}