.card-compact{
    background: linear-gradient(145deg,#23d5ab, #23a6d5, #82245f, #ee7752 ); 
    background-size: 400% 400%;
    animation: gradient2 4s ease infinite;
}
@keyframes gradient2 {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}